<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindNoSecure">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Host.HelloIndigoExService">
        <endpoint address="HelloIndigoExService" binding="basicHttpBinding"
          contract="Host.IHelloIndigoExService" />
        <endpoint address="HelloIndigoExService" binding="netTcpBinding"
          contract="Host.IHelloIndigoExService" bindingConfiguration="netTcpBindNoSecure" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/HelloIndigoEx/" />
            <add baseAddress="net.tcp://localhost:8734/HelloIndigoEx/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
