<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MSMQSecuredService.SecuredMSMQService"  behaviorConfiguration="SecurityBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://mohammad-pc:8080/Design_Time_Addresses/MSMQSecuredService/SecuredMSMQService/" />
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://mohammad-pc/private/testqueue"
                  binding="netMsmqBinding" bindingConfiguration="SecuredBinding"
                  contract="MSMQSecuredService.ISecuredMSMQService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecurityBehavior">
          <serviceMetadata httpGetEnabled="True"  />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <serviceCertificate findValue="CertServer" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <clientCertificate>
              <certificate findValue="CertClient" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>

        <binding name="SecuredBinding" exactlyOnce="true" receiveErrorHandling="Fault">
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </netMsmqBinding>

    </bindings>
  </system.serviceModel>


</configuration>
