<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloIndigoExService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloIndigoExService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7733/HelloIndigoEx/HelloIndigoExService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloIndigoExService"
                contract="HelloIndigoExService.IHelloIndigoExService" name="BasicHttpBinding_IHelloIndigoExService" />
            <endpoint address="net.tcp://localhost:7734/HelloIndigoEx/HelloIndigoExService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloIndigoExService"
                contract="HelloIndigoExService.IHelloIndigoExService" name="NetTcpBinding_IHelloIndigoExService" />
        </client>
    </system.serviceModel>
</configuration>